
/*main parent component*/
.chat_master {
  background: rgba(0, 0, 0, 0.27);
  border: 0.2rem rgba(0, 0, 0, 0.15);
  border-style: inherit ;
  box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  position: absolute;
  width: 21%;
  height: 42vh;
  align-items: flex-end;
  bottom: 2rem;
  right: 0.25rem;
  margin-right: 0.5vw;
  z-index: 0;

}



/* +---------------------------------------------------------------------+
/* |                              CHANNEL                                |
/* +---------------------------------------------------------------------+
*/
/*main parent channel component*/
.chat_channel_block {
  background: rgba(0, 0, 0, 0.27);

  flex-grow: 1;
  min-width: 15%;
  height: 90%;

  border-bottom-left-radius: 1rem;
}




/*main parent channel component*/
.chat_channel_list {
  overflow-y: auto;
  height: 95%;
  bottom: 0;
}
/* Pour Chrome, Safari et Opera */
.chat_channel_list::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
.chat_channel_list {
  scrollbar-width: none;
}

/* Pour IE et Edge */
.chat_channel_list {
  -ms-overflow-style: none;
}




/*main parent channel component*/
.chat_channel_buttons {
  text-align: center;
  align-items: flex-end;
  position: absolute;
  height: 10%;
  width: 30%;
  padding-top: 0.4rem;

  top: 0;

  font-weight: bold;
  font-size: 0.85rem;
  background: rgba(0, 0, 0, 0.27);
  border-radius: 8px 0 0 0;
  border-bottom: rgba(0, 0, 0, 0.27) solid 2px;

  z-index: 1;
}

.channel{
  padding: 0.2rem 0;
  background-color: rgba(66, 66, 66, 0.36);
  margin: 0.2rem 0;
  border: 1px solid black;
  border-radius: 4px;
}

.channel_selected{
  background-color: rgba(58, 118, 114, 0.869);
}

/* element channel (button channel.name) */
.chat_channel_list_element {
  height: auto;
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  color: #d8d8d8;
  cursor: pointer;
}

.chat_channel_list_element_selected {
  color: #ffffff;
  font-weight: bold;
}

.chat_channel_list_element_mp {
  color: #00ffff;
  font-style: italic;
}

#invite_options{
  display: block;
  cursor: pointer;
  color: green;
  margin-left: 0.42rem;
}







/* +---------------------------------------------------------------------+
/* |                                CHAT                                 |
/* +---------------------------------------------------------------------+
*/
/*partie droite qui contient le block messageS et input */
.chat_block_main {
  flex-direction: column;
  padding-top: 0.5rem;
  width: 70%;
  height: 100%;
}






/* contient input + bouton flech envoyer*/
.chat_block_messages_input {
  display: flex;
  position: absolute;
  padding: 1rem;
  padding-bottom: 0;
  bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 70%;
}

/* cible uniquement l'input element*/
.chat_block_messages_input_input {
  color: #C0C0C0;
  background-color: #13131a;
  border-radius: 0.5rem;
  height: 2rem;
  width: 100%;
}

.chat_block_messages_input_button {
  width: 1vw;
  margin-left: 1rem;
}





/* pour le chat message list component= contient la liste des message (list de chat_message_list_block)*/
.chat_message_list {
  display: flex;
  flex-direction: column;
  height: 95%; /* BURK , not responsive*/
  overflow-y: auto;
  scrollbar-width: thin;
}
/* Pour Chrome, Safari et Opera */
.chat_message_list::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
.chat_message_list {
  scrollbar-width: none;
}

/* Pour IE et Edge */
.chat_message_list {
  -ms-overflow-style: none;
}



/* pour la div enfant direct de chat message list 
(bidouille pour garder le bouton END fix quand en scroll vers le haut)*/
.chat_message_list_sub {
  display: flex;
  flex-direction: column;
  height: 90%; /* BURK , not responsive*/
  overflow-y: auto;
  scrollbar-width: thin;
}
/* Pour Chrome, Safari et Opera */
.chat_message_list_sub::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
.chat_message_list_sub {
  scrollbar-width: none;
}

/* Pour IE et Edge */
.chat_message_list_sub {
  -ms-overflow-style: none;
}

.chat_message_list_goToEndButton {
  color: #ffffff;
  font-size: 0.75rem;
  background: #ff00a6; /* Oo' */
  font-weight: bold;
}

/* pour differencier si nouveau messaage recu */
.chat_message_list_goToEndButton_newMessage {
  background: #00b5cd; /* Oo' */
}






/* englobe nickname + content pour un message*/
.chat_message_list_block {
  margin: 0 0.5rem 0.5rem;
}

.chat_message_list_nickname {
  list-style-type: none;
  font-weight: 600;
  font-size: 0.875rem;
  color: #64748B;
}

.chat_message_list_nickname_left {
  text-align: left;
}

.chat_message_list_nickname_right {
  text-align: right;
}

/* c'est la string du message*/
.chat_message_list_content {
  color: #CDCDCD;
  padding:  0.4rem 0.8rem;
  border-radius: 0.6rem;
  list-style-type: none;
  max-width: max-content;
  min-width: 10rem;
  min-height: 2rem;
  font-size: medium;
}

/*regle si c'est nous meme l'autheur du message*/
.chat_message_list_content_right {
  text-align: right;
  margin-left: auto;
  background-color: darkgoldenrod;
  border: solid 0.1rem #836108;
  box-shadow: 0.1rem 0.2rem 0.7rem 0.35rem #604403;
}

/*regleles autre message du message*/
.chat_message_list_content_left {
  text-align: left;
  background-color: darkgreen;
  border: solid 0.1rem #005400;
  box-shadow: -0.1rem 0.2rem 0.9rem 0.25rem #005400;
}


/*message info du serveur*/
.chat_message_list_content_system {
  color: #346d75;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

/* +---------------------------------------------------------------------+
/* |                            NEW CHANNEL POPUP                        |
/* +---------------------------------------------------------------------+
*/

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.chat_new_channel_popup{
  color: darkgrey;
  background: rgba(0, 0, 0, 0.52);
  border: 0.2rem rgba(0, 0, 0, 0.15);
  border-style: inherit ;
  box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  width: 9vw;
  min-width: 12ch;
  height: auto;

  bottom: 5vh;
  left: 0;


  margin-right: 0.5vw;
  text-align: left;
  padding-left: 1em;

  animation: fadeIn 500ms;
  z-index: 1;
}

#channelNameInput{
  color:darkgrey;
  width: 80%;
  border-radius: 4px;
  border-bottom: 3px solid #07C3FF ;
  border-inline: 1px solid #07C3FF ;
  background: none;
  padding-left: 1ch;
}

#channelPasswordInput{
  display: inline-block;
  color:darkgrey;
  width: 80%;
  border-radius: 4px;
  border-bottom: 3px solid #07C3FF ;
  border-inline: 1px solid #07C3FF ;
  background: none;
  padding-left: 1ch;
}

#visibility_block{
  display: block;
  margin: 1em 0.2em;
}

#popup_title{
  padding: 0.5em 1ch;
  color:#07C3FF ;
}

#button_showPassword{
  display: inline-block;
  margin: 0.2rem;
  padding-left: 0.2rem;
  position: relative;
  top:0.42rem;
}

#button_select_channel_mode{
  padding: 0.32rem 0.59rem;
  margin: 0.3rem;

  background-color: rgba(66, 66, 66, 0.36);
  border: 1px solid black;
  border-radius: 4px;
}

#make_popup_disappear{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(239, 171, 0, 0);
  z-index: -2;
}