@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


 /* CSS */
.button-login {
 align-items: center;
 background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 border: 0;
 border-radius: 8px;
 box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 box-sizing: border-box;
 color: #FFFFFF;
 display: flex;
 font-family: Phantomsans, sans-serif;
 font-size: 20px;
 justify-content: center;
 line-height: 1em;
 max-width: 100%;
 min-width: 140px;
 padding: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
}


.button-login:hover {
  outline: 0;
}

.button-login span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-login:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-login {
    font-size: 24px;
    min-width: 196px;
  }
}

.main-background{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background:
            linear-gradient(0deg, #050C2E 0%, #050C2E 100%),
            radial-gradient(80.84% 80.84% at 40.42% 40.42%,
            rgba(142.80, 0, 255, 0.20) 0%,
            rgba(32, 248, 249, 0) 100%);
}

.welcome{
    width: 100vw;
    height: 30vh;
    position: relative;
    text-align: left;
    top: 32%;
    margin-left: 32%;
    color: #07C3FF;
}

.welcome .welcome-msg{
    width: 100%;
    height: 35px;

    position: absolute;


    font-size: 33px;
    font-family: Phantomsans, sans-serif;
    font-weight: 900;
    word-wrap: break-word;
}

.welcome .welcome-title{
    width: 100%;
    height: 130px;
    padding-top: 1%;

    font-size: 100px;
    font-family: Phantomsans, sans-serif;
    font-weight: 900;
    word-wrap: break-word;
}

.welcome .button-login{
    margin-left: 20vh;
    margin-top:4%;
}