@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --game-primary-color: #01FDFF;
  --game-secondary-color: #000000;
  --game-text-color: rgba(63, 105, 190, 0.268);
  --game-line-color: var(--game-text-color);
  --game-line-opacity: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --game-primary-color: #01FDFF;
    --game-secondary-color: #000000;
    --game-text-color: rgba(63, 105, 190, 0.268);
    --game-line-color: var(--game-text-color);
    --game-line-opacity: 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


 /* CSS */
.button-login {
 align-items: center;
 background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 border: 0;
 border-radius: 8px;
 box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 box-sizing: border-box;
 color: #FFFFFF;
 display: flex;
 font-family: MeromSans-Regular, sans-serif;
 font-size: 4vh;
 justify-content: center;
 line-height: 1em;
 max-width: 100px;
 min-width: 12vw;
 padding: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
}


.button-login:hover {
  outline: 0;
}

.button-login span {
  background-color: rgb(5, 6, 45);
  padding: 2vh ;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-login:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-login {
    font-size: 24px;
    min-width: 196px;
  }
}

.main-background{
    width: 100%;
    height: 100vh;
    display: flex;
    color: darkgrey;

    padding: 0;
    margin: 0;
    /*
    background: #2e0505 radial-gradient(#02252f, #050C2E);
    */
    background-image: linear-gradient(to right, #050C2E 40%, #73022d);
}

.welcome{

    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: auto;
    position: relative;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    color: #07C3FF;
    font-weight: 900;
}

.welcome .welcome-msg{

    height: auto;
    background: none;
    font-size: 5vh;
    font-family: MeromSans-Regular, sans-serif;
    word-wrap: break-word;
    /*box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;*/
}

.welcome .welcome-title{

    height: auto;
    width: 100%;
    font-size: 10vh;
    font-family: MeromSans-Regular, sans-serif;
    word-wrap: break-word;
}

.welcome-title .button-login{
    top: 8vh;
    position: relative;
    margin-inline: auto;
}

.sidebar{
    z-index: 4;
    width: 18vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.59);
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    line-height: 2em;
}

.sidebar .menu{
    padding-top: 20vh;

}

.menu img{
    display: inline-block;
    padding-left: 2vw;
    margin-right: 2vw;
}

.menu li {
    display: block;
    text-align: left;

}

.chat{
    display: inline-block;
    position: sticky;
    right: 0;
    bottom: 0;
    top: 48vh;
    height: 42vh;
    width: 42vh;
    margin-left: -20vh;
    margin-inside: auto;

    overflow-y: scroll;
}

.friends{
    display: inline-block;
    position: absolute;
    right: 4vw;
    top: 1vh;
    height: 5vh;

}

.logout{
    display: inline-block;
    position: absolute;
    right: 1vw;
    top: 1vh;

}

.userList{
    max-height: 21vh;
    width: auto;
    overflow-y: auto;
    scrollbar-width: thin;

    position: absolute;
    right: 2vw;
    top: 8vh;
    padding-inline: 2vh;
    background: rgba(0, 0, 0, 0.27);
    border: 2px rgba(0, 0, 0, 0.11);
    border-style: inherit ;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.27);
    border-radius: 8px;
}

.matchHistory{
    max-height: 42%;
    width: auto;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 2ch;

    position: absolute;
    left: 1vw;
    top: 21vh;
    padding-inline: 2vh;
    background: rgba(54, 54, 54, 0.17);
    border: 2px rgba(0, 0, 0, 0.11);
    border-style: inherit ;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.matchHistory h1{
    font-size: 2.2ch;
    text-align: center;
    padding: 1ch 0;
    text-shadow: 1px 1px 5px darkgrey ;
    font-weight: bold;
}

#match{
    width: auto;
    background: rgba(112, 112, 112, 0.27);
    margin: 0.4rem -1rem;

    border: 1px solid rgba(119, 118, 118, 0.21);
    border-radius: 1ch;
}

#winner{
    color: goldenrod;
    position: absolute;
    left: 2.4ch;
}

#looser{
    position: absolute;
    right: 2.4ch;
    color: darkred;
}

#scorep1{
    position: relative;
    left: 40%;
    font-size: 2ch;
}

#scorep2{
    position: absolute;
    right: 40%;
    font-size: 2ch;
}

.leaderboard{
    max-height: 42%;
    width: auto;
    scrollbar-width: none;
    margin-top: 2ch;

    position: absolute;
    left: 1vw;
    top: 21vh;
    padding-inline: 2vh;
    background: rgba(148, 148, 146, 0.17);
    border: 2px rgba(0, 0, 0, 0.11);
    border-style: inherit ;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    scroll-behavior: smooth;
    overflow-x: hidden;

    overflow-y: auto; /* Cache la barre de défilement verticale */
}

.leaderboard h1{
    color: goldenrod;
    font-size: 2.2ch;
    text-align: center;
    padding: 1.5ch 0 0 0;
    text-shadow: 1px 2px 6px darkgoldenrod ;
    font-weight: bold;

}

.leaderboard_rank{
    margin:10px 2ch 0 1ch;
    position: relative;
    left:0;
}

.leaderboard_user{
    width: auto;
    height: 1vh;
    position: relative;
    display: inline-block;
}

.leaderboard::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar personnalisée */
}

.leaderboard::-webkit-scrollbar-thumb {
    background-color: transparent; /* Couleur transparente pour le curseur de la scrollbar */
    border: none; /* Supprime la bordure du curseur */
}

.leaderboard::-webkit-scrollbar-track {
    background-color: transparent; /* Couleur transparente pour la piste de la scrollbar */
    border: none; /* Supprime la bordure de la piste */
}

.main-user-profile{
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 1vh;
    padding-right: 1vw;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.27);
    border: 2px rgba(0, 0, 0, 0.11);
    border-style: inherit ;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.27);
    border-radius: 8px;
}

.main-user-profile .avatar{
    top: -1vh;
    margin-left: .4vw;
    position: relative;
    display: inline;

}

.main-user-profile .infos{
    position: relative;
    width: auto;
    font-size: 2vh;
}

.main-user-profile #level{
    color: darkgrey;
    position: relative;
    margin-top: -0.5em;
    margin-bottom: 4px;
    padding-left: 0.4vw;
}

.game{
    display: inline;
    margin-inline: auto;
    margin-block: 20vh;
    font-family: 'VT323', monospace;
    width: 50vw;

}

.game-options{

}

.game-scoreboard {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--game-text-color);
  font-size: 1.75vw;/* 20px */;
  line-height: 1.75rem/* 28px */;
  top: 20px;
  flex-direction: column;
}

.game-scoreboard-left {
  left: 12vw;
}

.game-scoreboard-right {
  right: 12vw;
}

.game-scoreboard-score {
  font-size: 5vw/* 60px */;
  line-height: 1;
}

.table {
  border-radius: 0.75rem/* 12px */;
  background-color: var(--game-primary-color);
  transition: background-color 500ms;
  
}

.paddle {
  background-color: var(--game-secondary-color);
  transition: background-color 500ms;
}

.ball {
  background-color: var(--game-secondary-color);
  transition: background-color 500ms;
}

.dottedLine {
  /* border: 10px dotted; */
  outline-style: dotted;
  background-color: var(--game-line-color);
  opacity: 80%;
}

.game-info-message {
  color: var(--game-text-color);
  background-color: var(--game-primary-color);
  padding: 1rem;
}

.game-theme-neon {
  --game-primary-color: #01FDFF;
  --game-secondary-color: #000000;
  --game-text-color: rgba(63, 105, 190, 0.268);
  --game-line-color: var(--game-text-color);
  --game-line-opacity: 50%;
  outline-color: var(--game-text-color);

  background-color: var(--game-primary-color);
  color: var(--game-secondary-color);
  transition: background-color 500ms, color 500ms;
}

.game-theme-sunset {
  --game-primary-color: #cb6821;
  --game-secondary-color: #ffffff;
  --game-text-color: rgb(63, 105, 190);
  background-color: var(--game-primary-color);
  color: var(--game-secondary-color);
  transition: background-color 500ms, color 500ms;
}

.game-theme-classic-pong {
  --game-primary-color: #0f0f0f;
  --game-secondary-color: #ffffff;
  --game-text-color: rgb(117, 117, 117);
  background-color: var(--game-primary-color);
  color: var(--game-secondary-color);
  transition: background-color 500ms, color 500ms;
}
